<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hehui.dao.EmployeeDao">

	<resultMap type="com.hehui.po.Employee" id="BaseResult">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="age" property="age"/>
		<result column="email" property="email"/>
		<result column="dept_id" property="deptId"/>
	</resultMap>

	<select id="findAll" resultMap="BaseResult">
		select * from employee	
	</select>

</mapper>